/*  your css code here. If applicable */
#grid{
	height: 100vh;
	display:grid; 
	background-color:green;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns:repeat(4, 1fr);
	/* grid-gap: 10px; */

}
#grid > div {
	border: 1px solid white;
}
.eg1{
	
	grid-column: span 4;
}
.eg2{
	grid-row: span 4;
}

.eg4{
	grid-column: span 2;
}
.eg5{
	grid-column: span 2;
}
.eg10{
	grid-column: span 3;
}


