/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-rows:124px 124px 124px 124x 124px;
	grid-template-columns:40px 30px 30px 30px;
grid-template-areas:
	"a a a a"
	"b c d d"
	"b e e f"
	"b g h i"
	"b j j j" 

}
.eg1{background-color:green;
	 margin:5px;
	grid-area:a
}
.eg2{background-color:green;
	 margin:5px;
	grid-area:b
}
.eg3{
	background-color:green;
	margin:5px;
	grid-area:c
}
.eg4{
	background-color:green;
	margin:5px;
	grid-area:d
}
.eg5{
	background-color:green;
	margin:5px;
	grid-area:e
}
.eg6{
	background-color:green;
	margin:5px;
	grid-area:f
}
.eg7{
	background-color:green;
	margin:5px;
	grid-area:g
}
.eg8{
	background-color:green;
	margin:5px;
	grid-area:h
}
.eg9{
	background-color:green;
	margin:5px;
	grid-area:i
}
.eg10{
	background-color:green;
	margin:5px;
	grid-area:j
}


